.jumbotron {
  padding-top: 6rem;
  background-image: url("bg3.jpg");
  background-size: cover;
  color: rgb(254, 255, 254);
}

#about {
  background-color: #007d7d;
}

#service h2 {
  margin-bottom: 20px;
}

#contact {
  background-color: #fff;
}

section {
  padding-top: 5rem;
}

#product {
  background-color: #fff;
}

#service {
  background-color: #007d7d;
}
