html {
  background-color: white;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: white;
  color: black;
}
#navbar {
  transition: background-color 0.3s ease;
}

.text-color {
  color: black;
  transition: color 0.3s ease;
}

.navbar-toggler-icon {
  transition: background-image 0.3s ease;
}
